header {
  background: #333;
  color: #fff;
  padding: 15px 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.html.active{
 color: red;
 border: 1px solid white;
 border-radius: 10px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a, .cta {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}
.cta {
  background: #f39c12;
  border-radius: 5px;
}